* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background: #0400ff;
    background: linear-gradient(90deg, rgba(4, 0, 255, 1) 0%, rgba(0, 247, 99, 1) 57%, rgba(68, 201, 111, 1) 70%, rgba(119, 213, 125, 1) 88%, rgba(194, 230, 145, 1) 93%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px 0;
}

.logo{
    width: 200px;
    margin: 0;
}

main {
    width: 375px;
    border-radius: 20px;
    background-color: white;
    padding: 20px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
select,input {
    background: white;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    appearance: none;
    padding-left: 12px;
    font-weight: 700;
    font-size: 14px;
    color: #555555;
    cursor: pointer;
}
input {
    cursor: auto; 
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
    background: linear-gradient(90deg, rgba(4, 0, 255, 1) 0%, rgba(0, 247, 99, 1) 57%, rgba(68, 201, 111, 1) 70%, rgba(119, 213, 125, 1) 88%, rgba(194, 230, 145, 1) 93%);
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 40px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
button:hover {
    opacity: 0.8;
}
button:active {
    opacity: 0.6;
}
section {
    border: 1px solid rgba(0, 247, 99, 1);
    border-radius: 20px;
    margin-top: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.currency {
    color: #777777;
    font-size: 12px;
}

.currency-value, .currency-value-to-convert{
    color: #555555;
    font-weight: 700;
    font-size: 16px;
}